@charset "UTF-8";
footer {
  background-color: #ffa4b1;
  border-top: 1px solid #800000;
  max-height: 500px;
}

.container-fluid {
  width: 100%;
}

/* Đảm bảo các phần trong footer căn ngang logo và icon */
.footer-logo-icons {
  display: flex;
  padding-left: 170px;
  padding-right: 220px;
  align-items: center;
}

.footer-logo h2 {
  color: #ef579e;
  font-size: 28px;
  font-weight: bold;
  text-align: left;
  margin-left: 15px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-items: flex-start;
}

.footer-logo img {
  width: 15%;
}

.social-icons i {
  font-size: 2rem;
  margin-right: 1px;
  color: black;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons i:hover {
  color: #800000;
}

.social-icons {
  display: flex;
  justify-content: flex-end; /* Căn phải */
}

.text-center {
  text-align: center;
}

.footer-links p {
  color: black;
  margin: 0 0 10px;
}

.footer-links a {
  color: black;
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #800000;
}

.footer-links .text-uppercase {
  text-transform: uppercase;
}

.footer-links .text-reset {
  color: inherit;
}

.footer-links .row {
  display: flex;
  justify-content: space-between;
  text-align: left;
  margin-top: 20px;
  padding-left: 100px;
  padding-right: 100px;
}

footer .col-md-3,
footer .col-lg-3,
footer .col-xl-3,
footer .col-lg-2,
footer .col-xl-2 {
  flex: 1;
  padding: 0 20px;
}

footer .border-bottom {
  border-bottom: 1px solid #800000;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

footer .me-4 {
  margin-right: 15px;
}

footer .p-4 {
  padding: 15px;
}
