body {
  font-family: "Inter", sans-serif;
}

.banner {
  background-image: url("../img/banner.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 600px;
  padding: 20px 0;
}

.banner-left {
  text-align: left;
  margin-left: 170px;
}

.title {
  color: #ef579e;
  font-size: 2.5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.5rem;
  color: #800000;
  font-weight: bold;
  margin-top: -10px;
}

/* Định dạng cho container chứa các nút chức năng */
.banner-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: -250px;
}

.banner-right .function-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Khoảng cách giữa các nút */
  justify-items: center;
  max-width: 500px;
}

/* Định dạng cho các nút chức năng */
.function-btn {
  border: none;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 200px;
  font-size: 1rem;
  color: #800000;
  transition: all 0.1s ease;
}

.function-btn:hover {
  border: 2px solid #f8bbd0; /* Hiển thị viền khi hover */
  box-shadow: 0px 4px 8px rgba(174, 0, 0, 0.3);
  transform: scale(1.05);
}

.function-btn img {
  width: 100%;
  max-width: 120px;
  height: auto;
}

.function-btn p {
  color: #800000;
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 20px;
}

.camNang img {
  padding-top: 10px;
  padding-bottom: 10px;
}

.introPage {
  text-align: center;
  margin-top: 40px;
}

.carousel-container {
  width: 100%;
  max-width: 800px;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.carousel-wrapper {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.carousel-item {
  flex: 0 0 50%; /* Mỗi ảnh chiếm 50% */
  padding: 0 10px; /* Khoảng cách giữa ảnh */
  box-sizing: border-box;
}

.carousel-item img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 12px; /* Bo góc ảnh */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Bóng ảnh */
  min-height: 200px;
}

.carousel-indicators {
  text-align: center;
  margin-top: 10px;
}

.carousel-indicators button {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #ccc;
  border: none;
  cursor: pointer;
}

.carousel-indicators button.active {
  background-color: #800000;
}

.quote-section {
  color: #000;
  font-style: italic;
  margin-top: 20px;
  border-left: 5px solid #800000;
  padding-left: 15px;
}

.rating-section img {
  width: 50px;
  height: 50px;
}

.features-section {
  background-color: #ffe0e5;
  padding: 30px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.features-section ul {
  color: #000;
}
