body {
  font-family: "Inter", sans-serif;
}

.banner {
  background-image: url("/img/banner.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  min-height: 600px;
  padding: 20px 0;
}

.banner-left {
  text-align: left;
  margin-left: 170px;
}

.banner-left .title {
  color: #ef579e;
  font-size: 2.5rem;
  font-weight: bold;
}

.banner-left .subtitle {
  font-size: 1.5rem;
  color: #800000;
  font-weight: bold;
  margin-top: -10px;
}

/* Định dạng cho container chứa các nút chức năng */
.banner-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-left: -250px;
}

.banner-right .function-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Khoảng cách giữa các nút */
  justify-items: center;
  max-width: 500px;
}

/* Định dạng cho các nút chức năng */
.function-btn {
  border: none;
  background-color: #fff;
  border-radius: 15px;
  text-align: center;
  padding: 10px;
  width: 200px;
  height: 200px;
  font-size: 1rem;
  color: #800000;
  transition: all 0.1s ease;
}

.function-btn:hover {
  border: 2px solid #f8bbd0; /* Hiển thị viền khi hover */
  box-shadow: 0px 4px 8px rgba(174, 0, 0, 0.3);
  transform: scale(1.05);
}

.function-btn img {
  width: 100%;
  max-width: 120px;
  height: auto;
}

.function-btn p {
  color: #800000;
  font-weight: bold;
  font-size: 1.2rem;
  padding-bottom: 20px;
}

/* CSS cho phần intro */
.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px 0; /* Khoảng cách trên và dưới */
}

/* Căn giữa wrap-text */
.wrap-text {
  text-align: center; /* Căn giữa văn bản */
  margin-bottom: 30px; /* Khoảng cách phía dưới phần văn bản */
}

.h2-title {
  color: #ef579e;
  font-size: 2.5rem;
  font-weight: bold;
}

.subtitle {
  font-size: 1.2rem;
  color: #800000;
  font-weight: bold;
}
