/* ============================================================ */
/* main body */
/* ============================================================ */

.webapp {
  background-color: #fae9e962;
  margin-top: -5px;
}

.main-panel {
  padding-top: 20px;
  padding-bottom: 50px;
}

/* ============================================================ */
/* panel header */
/* ============================================================ */
.panel-header {
  color: white;
  background-color: #fff;
  max-height: 200px;
  overflow: hidden;
  border: 1px solid #d4d4d456;
  margin-bottom: 20px;
}

.title {
  color: #800000;
  font-weight: bold;
}

/* Ảnh bác sĩ */
.img-bacsi {
  padding: 0 !important;
}

.img-bacsi img {
  width: 300px;
  height: 200px;
  /* object-fit: contain; */
}

/* Phần thông tin bác sĩ */
.doctor-info {
  margin-top: 40px;
  margin-bottom: 10px;
}

.doctor-name {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.doctor-price {
  margin: 0;
  color: rgb(251, 129, 149);
  font-weight: bold;
}

.doctor-specialty {
  color: gray;
}

/* Phần icon */
.doctor-icons {
  margin-bottom: 0px;
  gap: 20px;
  /* Khoảng cách giữa các icon */
}

.icon-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #555;
  font-size: 1rem;
}

.icon-item i {
  color: rgb(251, 129, 149);
  font-size: 1.2rem;
}

/* ==================================================== */
/* panel thông tin lịch Khám */
.panel-lichkham {
  border: 1px solid #d4d4d456;
  padding-top: 20px;
  margin-bottom: 20px;
  background-color: #fff;
}

/* Bo góc cho select */
.form-select {
  border-radius: 8px;
  border: 1px solid #d4d4d456;
  padding: 8px;
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Hiệu ứng mượt */
}

/* Màu nền khi hover */
.form-select:hover {
  border-color: #ff99aa;
}

/* Bo góc cho dropdown (danh sách các tùy chọn) */
.form-select option {
  border-radius: 8px;
}

.tuvan {
  gap: 50px;
  margin-left: 20px;
}

.tuvan h5 {
  padding-top: 8px;
}

/* thời gian khám */
.schedule-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  background-color: lightpink 40%;
  margin-bottom: 30px;
}

.schedule-container .time-slot {
  a {
    text-decoration: none;
    color: black;
  }
}

.time-slot {
  width: 90px;
  padding: 5px;
  text-align: center;
  border: 1px solid #efa1d664;
  border-radius: 5px;
  margin-bottom: 10px;
}

.time-slot:hover {
  background: linear-gradient(
    79.98deg,
    rgb(255, 156, 177) 26.18%,
    rgba(212, 122, 129, 0.834) 99.22%
  );
  cursor: pointer;
}

/* kinh nghiệm */
.panel-kinhnghiem {
  gap: 10px;
}

/* đổi màu dấu chấm */
section ul {
  list-style-type: none;
  padding-left: 20px;
  /* Khoảng cách từ dấu chấm đến văn bản */
}

section ul li {
  position: relative;
  padding-left: 25px;
  line-height: 1.5;
}

section ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  /* căn theo chiều dọc */
  color: pink;
  font-size: 2rem;
}

/* pannel đóng góp cộng đồng */

.panel-donggop {
  background-color: white;
  border: 1px solid #d4d4d456;
  border-radius: 8px;
  padding: 20px;
  max-width: 700px;
  margin: auto;
}

.panel-donggop .header h5 {
  color: #800000;
  font-size: 18px;
  font-weight: bold;
  border-left: 5px solid #800000;
  padding-left: 10px;
}

.list-question .question {
  display: flex;
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}

.list-question .question:last-child {
  border-bottom: none;
}

.question-img img {
  width: 60px;
  border-radius: 50%;
}

.question-text {
  flex: 1;
}

.question-username {
  font-weight: bold;
  color: #000000;
  margin-bottom: 5px;
}

.question-content {
  font-size: 14px;
  color: #272727;
  margin-bottom: 10px;
}

.question-doctor {
  display: flex;
  align-items: center;
  background-color: #ff99aa37;
  border-radius: 4px;
  width: 250px;
  padding-top: 8px;
}

.question-doctor img {
  width: 40px;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  position: relative;
  margin-left: 8px;
  margin-right: 8px;
  padding-bottom: 10px;
}

.question-doctor .doctor-name {
  font-size: 14px;
  font-weight: bold;
  color: #f64e4e;
}

.question-date {
  font-size: 12px;
  color: #adb5bd;
  margin: 10px 0;
}

.question-footer {
  display: flex;
  gap: 20px;
  align-items: center;
  font-size: 14px;
}

.question-footer span {
  display: flex;
  align-items: center;
  gap: 5px;
  color: #6c757d;
}

.question-footer i {
  font-size: 16px;
}

.question-footer p {
  padding-top: 13px;
}
